---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=HLkbYnMAAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h2>Journal Articles</h2>
<hr>
<ul>
  <li>
        <strong>Byanjankar, R.</strong>, Adhikari, S.R., &amp; Khan, M.M. Financial inclusion and sustainable shift in living standard: Evidence from Nepal. <i>Oxford Development Studies.</i> <a href="https://doi.org/10.1080/13600818.2025.2507252" target = "_blank">https://doi.org/10.1080/13600818.2025.2507252</a>
    </li>
  <li>
    <strong>Byanjankar, R.</strong>, Bhatta, G.R., Singh, B., & Devpura, N. (2025). Remittances and Household Welfare: Evidence from Nepal's Survey Data. <i>Emerging Market Finance and Trade.</i>.
    <a href="https://doi.org/10.1080/1540496X.2025.2451181" target="_blank">https://doi.org/10.1080/1540496X.2025.2451181</a>
  </li>
  <li>
    Dahal, A., <strong>Byanjankar, R.</strong>, Jangam, B. P., & Rath, B. N. (2025). Reassessing the role of exchange rates in export dynamics: Evidence from a disaggregated industry-level analysis in the case of Nepal. <i>Economic Analysis and Policy.</i>
    <a href="https://doi.org/10.1016/j.eap.2025.01.027" target="_blank"> https://doi.org/10.1016/j.eap.2025.01.027</a>
  </li>
     <li>
        Adhikari, P., <strong>Byanjankar, R.</strong>, Subba, S., Bhatta, S.R., &amp; Shrestha, P.M. (2024). What drives the foreign investment in Nepal? Investor’s perception analysis. <i>Asian-Pacific Economic Literature</i>, <i>38</i>(2), 102-122. 
        <a href="https://doi.org/10.1111/apel.12421" target="_blank">doi.org/10.1111/apel.12421</a>
    </li>
    <li>
        Bhoosal, Y. L., &amp; <strong>Byanjankar, R.</strong> (2022). An empirical study on the determinants of government revenue in Nepal. <i>NRB Economic Review</i>, <i>34</i>(2), 30–49. 
        <a href="https://doi.org/10.3126/nrber.v34i2.49437" target="_blank">doi:10.3126/nrber.v34i2.49437</a>
    </li>
    <li>
        <strong>Byanjankar, R.</strong>, &amp; Shakha, M. (2021). Role of remittances on rural poverty in Nepal: Evidence from cross-section data. <i>NRB Economic Review</i>, <i>33</i>(1–2), 45–72. 
        <a href="https://doi.org/10.3126/nrber.v33i1-2.47989" target="_blank">doi:10.3126/nrber.v33i1-2.47989</a>
    </li>
    <li>
        Bhatta, S. R., Adhikari, P., &amp; <strong>Byanjankar, R.</strong> (2020). Choice of regression models in time series data. <i>Economic Journal of Development Issues</i>, 29-30, 101–129. 
        <a href="https://doi.org/10.3126/ejdi.v30i1-2.46058" target="_blank">doi:10.3126/ejdi.v30i1-2.46058</a>
    </li>
</ul>

<h2>Papers under review</h2>
<hr>
<ul>
  <li>
        <strong>Byanjankar, R.</strong> Agriculture and Natural Disasters: Evidence from the 2015 Nepal Earthquake. Australian Journal of Agricultural and Resource Economics. <i>Revise and Resumbit</i>
    </li>
  <li>
    <a href="https://drive.google.com/file/d/1lPsexS_4GCe-l78px4aFdAl8NbFgbamH/view"  target = "_blank">Does remittances alleviate energy poverty? Evidence from Nepal</a> with Birendra Bahadur Budha. <i>Under Review</i>
    </li>
</ul>

<h2>Working Papers</h2>
<hr>
<ul>
  <li>
    <a href="https://drive.google.com/file/d/1h23RzdLQaVP6uH3oJ63MS7EphOUJg4YN/view"  target = "_blank">Remittances and Use of Financial Services</a> with Birendra Bahadur Budha
    </li>
  <li>
<a href="#">Macroeconomic Effects of Uncertainty: Evidence from Nepal</a> with Rohan Byanjankar and Swostik Nepal
  </li>

<li>

  <a href="https://www.nrb.org.np/contents/uploads/2025/08/nrb-wp-61-2025-08.pdf" target = "_blank">Do bank lending rates respond to monetary policy shocks in developing countries? Evidence from Nepal </a>
  
</li> 
  
  <li>
<a href="https://www.nrb.org.np/contents/uploads/2024/08/nrb-wp-59-2024-06.pdf"  target = "_blank">Nowcasting Nepal's GDP</a> with Birendra Bahadur Budha
  </li>
</ul>

