---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=HLkbYnMAAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h2>Journal Articles</h2>
<hr>
<ul>
     <li>
        Adhikari, P., <strong>Byanjankar, R.</strong>, Subba, S., Bhatta, S.R., &amp; Shrestha, P.M. (2024). What drives the foreign investment in Nepal? Investor’s perception analysis. <i>Asian-Pacific Economic Literature</i>, <i>38</i>(2), 102-122. 
        <a href="https://doi.org/10.1111/apel.12421" target="_blank">doi.org/10.1111/apel.12421</a>
    </li>
    <li>
        Bhoosal, Y. L., &amp; <strong>Byanjankar, R.</strong> (2022). An empirical study on the determinants of government revenue in Nepal. <i>NRB Economic Review</i>, <i>34</i>(2), 30–49. 
        <a href="https://doi.org/10.3126/nrber.v34i2.49437" target="_blank">doi:10.3126/nrber.v34i2.49437</a>
    </li>
    <li>
        <strong>Byanjankar, R.</strong>, &amp; Shakha, M. (2021). Role of remittances on rural poverty in Nepal: Evidence from cross-section data. <i>NRB Economic Review</i>, <i>33</i>(1–2), 45–72. 
        <a href="https://doi.org/10.3126/nrber.v33i1-2.47989" target="_blank">doi:10.3126/nrber.v33i1-2.47989</a>
    </li>
    <li>
        Bhatta, S. R., Adhikari, P., &amp; <strong>Byanjankar, R.</strong> (2020). Choice of regression models in time series data. <i>Economic Journal of Development Issues</i>, 29-30, 101–129. 
        <a href="https://doi.org/10.3126/ejdi.v30i1-2.46058" target="_blank">doi:10.3126/ejdi.v30i1-2.46058</a>
    </li>
</ul>

<h2>Papers under review</h2>
<hr>
<ul>
  <li>
        <strong>Byanjankar, R.</strong>, Adhikari, S.R., &amp; Khan, M.M. Financial inclusion and sustainable shift in living standard: Evidence from Nepal. <i>Revise and Resubmit</i>.
    </li>
  <li>
    Dahal, A., <strong>Byanjankar, R.</strong>, Jangam, B. P., & Rath, B. N. Reassessing the role of exchange rates in export dynamics: Evidence from a disaggregated industry-level analysis in the case of Nepal. <i>Economic Analysis and Policy. Revise and Resubmit</i>
  </li>
  <li>
    <strong>Byanjankar, R.</strong>, Bhatta, G.R., Singh, B., & Devpura, N. Remittances and Household Welfare: Evidence from Nepal's Survey Data. <i>Emerging Market Finance and Trade. Accepted</i>.
  </li>
</ul>

<h2>Preprints</h2>
<hr>
<ul>
    <li>
    <strong>Byanjankar, R.</strong>. Resilience of Paddy Production to Natural Disasters: Evidence from the 2015 Nepal Earthquake. Available at SSRN: <a href="https://ssrn.com/abstract=4658777">https://ssrn.com/abstract=4658777</a>
  </li>
</ul>

