---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="https://scholar.google.com/citations?user=HLkbYnMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>
<hr>
<ul>
  <li>
   <strong>Byanjankar, R.</strong>. Agriculture and natural disasters: Evidence from the 2015 Nepal earthquake. <i>Australian Journal of Agricultural and Resource Economics</i>. <i>(Forthcoming)</i>.
  </li>
  <li>
    <strong>Byanjankar, R.</strong>, Adhikari, S. R., & Khan, M. M. (2025). Financial inclusion and sustainable shift in living standard: Evidence from Nepal. <i>Oxford Development Studies</i>. 
    <a href="https://doi.org/10.1080/13600818.2025.2507252" target="_blank" rel="noopener noreferrer">https://doi.org/10.1080/13600818.2025.2507252</a>
  </li>
  <li>
    <strong>Byanjankar, R.</strong>, Bhatta, G. R., Singh, B., & Devpura, N. (2025). Remittances and household welfare: Evidence from Nepal's survey data. <i>Emerging Markets Finance and Trade</i>.
    <a href="https://doi.org/10.1080/1540496X.2025.2451181" target="_blank" rel="noopener noreferrer">https://doi.org/10.1080/1540496X.2025.2451181</a>
  </li>
  <li>
    Dahal, A., <strong>Byanjankar, R.</strong>, Jangam, B. P., & Rath, B. N. (2025). Reassessing the role of exchange rates in export dynamics: Evidence from a disaggregated industry-level analysis in the case of Nepal. <i>Economic Analysis and Policy</i>.
    <a href="https://doi.org/10.1016/j.eap.2025.01.027" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.eap.2025.01.027</a>
  </li>
</ul>

<h2>Papers Under Review</h2>
<hr>
<ul>
  <li>
    <strong>Byanjankar, R.</strong>, & Budha, B. B. <a href="https://drive.google.com/file/d/1lPsexS_4GCe-l78px4aFdAl8NbFgbamH/view" target="_blank" rel="noopener noreferrer">Does remittances alleviate energy poverty? Evidence from Nepal</a>. <i>Under Review</i>.
  </li>
</ul>

<h2>Working Papers</h2>
<hr>
<ul>
  <li>
    <strong>Byanjankar, R.</strong>, & Budha, B. B. <a href="https://drive.google.com/file/d/1h23RzdLQaVP6uH3oJ63MS7EphOUJg4YN/view" target="_blank" rel="noopener noreferrer">Remittances and use of financial services</a>.
  </li>
  <li>
    <strong>Byanjankar, R.</strong>, Budha, B. B., & Nepal, S. <a href="#">Macroeconomic effects of uncertainty: Evidence from Nepal</a>.
  </li>
  <li>
    <strong>Byanjankar, R.</strong>. <a href="https://www.nrb.org.np/contents/uploads/2025/08/nrb-wp-61-2025-08.pdf" target="_blank" rel="noopener noreferrer">Do bank lending rates respond to monetary policy shocks in developing countries? Evidence from Nepal</a>.
  </li>
  <li>
    <strong>Byanjankar, R.</strong>, & Budha, B. B. <a href="https://www.nrb.org.np/contents/uploads/2024/08/nrb-wp-59-2024-06.pdf" target="_blank" rel="noopener noreferrer">Nowcasting Nepal's GDP</a>.
  </li>
</ul>
